.style{list-style-type:circle;
	margin-left:600px;
	margin-right:700px;
	padding-left:0px;}
		
.border1{background-color:black;
		border: 2px black solid;
		text-align:center;
		color:white;
		font-family:arial;}
		
.button{padding-left:50px;
		padding-top:20px;
		padding-bottom:20px;
		padding-right:50px;
		font-family:arial;
		font-weight:bold;
		background-color:black;
		color:white;
		}
		

.button:hover{background-color:white;
			color:black;}

.border2{background-color:#ffff66;
		color:black;
		padding-top:10px;
		padding-bottom:10px;
		padding-left:10px;
		padding-right:10px;
		text-align:center;
		font-family:arial;}

h4{margin-right:550px;}

.marginPSC{margin-right:200px;}

 button.btn1{padding-left:50px;
				padding-right:50px;
				padding-top:25px;
				padding-bottom:25px;
				font-weight:bold;
				font-size:1em;
				background-color:#993300;
				color:black;
				border: 2px black solid;
				margin-left:450px}

			
 button.btn2{padding-left:50px;
				padding-right:50px;
				padding-top:25px;
				padding-bottom:25px;
				font-weight:bold;
				font-size:1em;
				background-color:#ebebe0;
				color:black;
				border: 2px black solid;
				}

 button.btn3{padding-left:50px;
				padding-right:50px;
				padding-top:25px;
				padding-bottom:25px;
				font-weight:bold;
				font-size:1em;
				background-color:#ffd700;
				color:black;
				border: 2px black solid;}


 button.btn4{padding-left:50px;
				padding-right:50px;
				padding-top:25px;
				padding-bottom:25px;
				font-weight:bold;
				font-size:1em;
				background-color:#6600cc;
				color:black;
				border: 2px black solid;}

 button.btn1:hover{background-color:white;
					color:#993300;
					transition: all .2s ease-in-out;
					transform: scale(1.15);}
					
 button.btn2:hover{background-color:white;
					color:black;
					transition: all .2s ease-in-out;
					transform: scale(1.15);}	
					
 button.btn3:hover{background-color:white;
					color:#ffd700;
					transition: all .2s ease-in-out;
					transform: scale(1.15);}
				
 button.btn4:hover{background-color:white;
					color:#6600cc;
					transition: all .2s ease-in-out;
					transform: scale(1.15);}	

#Member{font-weight:bold;
		color:#993300;
		font-size:25px;}
		
#Member3{font-weight:bold;
		color:pink;}

#btn_Member{padding-left:50px;
		padding-top:20px;
		padding-bottom:20px;
		padding-right:50px;
		font-family:arial;
		font-weight:bold;
		background-color:white;
		color:black}

#btn_Member:hover{background-color:black;
			color:white;}
			
.margin_Rewarded{margin-left:400px;
				margin-right:400px;}

.yellow{color:#ffff66;}

@media only screen and (max-width:768px)
{
	.style{list-style-type:circle;
			margin-left:0px;
			margin-right:0px;}
	
	.yellow{margin-left:0px;
			margin-right:0px;}
		
	.marginPSC{margin-right:0px;}
	
	.margin_Rewarded{margin-left:0px;
					margin-right:0px;}
					
	button.btn1{margin-left:0px;
				margin-right:0px;}
	
	button.btn3{padding-left:50px;
				padding-right:70px;
				padding-top:25px;
				padding-bottom:25px;
				font-weight:bold;
				font-size:1em;
				background-color:#ffd700;
				color:black;
				border: 2px black solid;
				margin-left:5px;}
	
	button.btn4{padding-left:45px;
				padding-right:35px;
				padding-top:25px;
				padding-bottom:25px;
				font-weight:bold;
				font-size:1em;
				background-color:#6600cc;
				color:black;
				border: 2px black solid;
				margin-left:5px;}
	
	.respon_gif{width:100%;}
	
}
	.logohomepage{
		height:70px;
		width:auto;
		margin:10px 0px -10px;
	}

	.dropdown-content a:hover {
		background-color:#EFEB82;
		color:blue;
		border:0.5px solid black;
		text-decoration:none;
		font-weight:bold;
	}

	.dropdown:hover .Text{color: yellow;
		text-shadow: 1px 1px 2px black, 0 0 25px yellow, 0 0 5px yellow;
	}



	.dropdown:hover .dropdown-content {
		display: block;
	}

	.dropdown {
		position: relative;
		display: inline-block;
	}

	.dropdown-content {
		background-color: white;
		font-size:14px;
		display: none;
		position: absolute;
		min-width: 200px;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		z-index: 1;
		border:0.5px solid black;
	}

	.dropdown-content a {
		color: black;
		padding: 12px 50px 12px 10px;
		text-decoration: none;
		display: block;	
	}

	.alignright{float:right;}

	.Text{
		color:black;
		font-family:bahnschrift Condensed;
		font-size:25px;
		top:10px;
		border-right:2px solid black;
	}

	.zoom {  
	  transition: transform .2s; /* Animation */
	  width: 45px;
	  height:auto;
	  
	}

	.zoom:hover {
	  transform: scale(1.3); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
	}

	.text{
		font-family:bahnschrift Condensed;
		font-size:25px;
		padding-top:10px;
		padding-bottom:10px;
		border-bottom:2px solid black;
		background-color:yellow; 
		text-align:center
		}



