/* Dylan start */
.html{
  scroll-behavior: smooth;
  overflow-x:  hidden;
}

.darken{
  filter:brightness(100%);
}

.carousel-caption{
  position: absolute;
  top: 60px;
}

.zoom:hover {
  transition: all .3s ;
  transform: scale(1.2);
}

.glow:hover {
  transition: all .3s ;
  transform: scale(1.1);
}

#mainServices{
  position: relative;
  top: -200px;
}
/* media quries*/

@media only screen and (max-width: 600px) {
  .theTile{
    top: -150px;
    transform: scale(0.5);
  }
}

@media only screen and (min-width: 600px) {
  .theTile{
    transform: scale(0.6);
  }
}

@media only screen and (min-width: 780px) {
  .theTile{
    transform: scale(0.8);
  }
}

@media only screen and (min-width: 930px) {
  .theTile{
    transform: scale(1.0);
  }
}

@media only screen and (min-width: 1000px) {
  .theTile{
    transform: scale(1.0);
  }
}


/* Dylan End */
