/* Dylan start */
.html{
  scroll-behavior: smooth;
  overflow-x:  hidden;
}

.darken{
  filter:brightness(100%);
}

.carousel-caption{
  position: absolute;
  top: 60px;
}

.zoom:hover {
  transition: all .3s ;
  transform: scale(1.2);
}

.glow:hover {
  transition: all .3s ;
  transform: scale(1.1);
}

/* Dylan End */
