/* Dylan start */
.html{
  scroll-behavior: smooth;
  overflow-x:  hidden;
}

.darken{
  filter:brightness(65%);
}

.carousel-caption{
  position: absolute;
  top: 60px;
}

.zoom:hover {
  transition: all .3s ;
  transform: scale(1.2);
}

.glow:hover{
  transition: all .3s ;
  transform: scale(1.2);
  transition: 0.3s;
}


/* Dylan End */
