body{background-color:black;
	color:white;
}

.center{text-align:center;
		color:black;
		font-family:arial;}	

.paragraph1{margin-left:300px;
			margin-right:250px;}

.paragraph2{text-align:center;}	



.div1{margin-left:500px;
	margin-right:500px;
	padding-left:25px;
	padding-right:25px;
	padding-top:25px;
	padding-bottom:25px;
	background-color: black;
	color:white;
	font-family:arial;
}


	
.div1:hover{background-color:yellow;
			color:black;
			transition: all .2s ease-in-out;
			transform: scale(1.15);}

.border{margin-left:500px;
		margin-right:500px;
		padding-top:0px;
		color:black;}

.icon{width:15%;
	height:15%;
	padding-top:2%;
	padding-left:2%;
	float:right;}

#step{display:block;
	margin-left:auto;
	margin-right:auto;
	width:60%;
	padding-bottom:5px;}
	
.btn_margin{margin-left:250px;
			margin-bottom:20px;}	

table td{padding-left:150px;}

table td button{padding-left:50px;
				padding-right:50px;
				padding-top:25px;
				padding-bottom:25px;
				margin-left:25px;
				font-weight:bold;
				font-size:1em;
				background-color:black;
				color:#ffff66;
				}
				
table td button:hover{background-color:white;
					color:black;
					text-decoration:underline;
					transition: all .2s ease-in-out;
					transform: scale(1.15);}

table td button:focus{background-color:#ffff66;
					color:black;
					text-decoration:underline;}

.div2{background-color:white;}

.div2 h2{text-align:center;
		color:black;
		padding-top:20px;
		font-size:30px;
		font-family:arial;}

@media only screen and (max-width:768px)
{	

	
	.paragraph1{margin-left:0px;
		margin-right:0px;}
		
	.div1{margin-left:0px;
		 margin-right:0px;}
		 
	.border{margin-left:0px;
			margin-right:0px;}
			
	.icon{width:15%;
		height:15%;
		padding-top:2%;
		padding-left:2%}
		
	
	.div2 table td button{margin-left:0px;
						margin-bottom:0px;}
	
	#step{width:100%;}

}
	.logohomepage{
		height:70px;
		width:auto;
		margin:10px 0px -10px;
	}

	.dropdown-content a:hover {
		background-color:#EFEB82;
		color:blue;
		border:0.5px solid black;
		text-decoration:none;
		font-weight:bold;
	}

	.dropdown:hover .Text{color: yellow;
		text-shadow: 1px 1px 2px black, 0 0 25px yellow, 0 0 5px yellow;
	}



	.dropdown:hover .dropdown-content {
		display: block;
	}

	.dropdown {
		position: relative;
		display: inline-block;
	}

	.dropdown-content {
		background-color: white;
		font-size:14px;
		display: none;
		position: absolute;
		min-width: 200px;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		z-index: 1;
		border:0.5px solid black;
	}

	.dropdown-content a {
		color: black;
		padding: 12px 50px 12px 10px;
		text-decoration: none;
		display: block;	
	}

	.alignright{float:right;}

	.Text{
		color:black;
		font-family:bahnschrift Condensed;
		font-size:25px;
		top:10px;
		border-right:2px solid black;
	}

	.zoom {  
	  transition: transform .2s; /* Animation */
	  width: 45px;
	  height:auto;
	  
	}

	.zoom:hover {
	  transform: scale(1.3); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
	}

	.text{
		font-family:bahnschrift Condensed;
		font-size:25px;
		padding-top:10px;
		padding-bottom:10px;
		border-bottom:2px solid black;
		background-color:yellow; 
		text-align:center
		}
	
